doctype
html.no-js
  include ./frame/head.jade

  body(lang='en')
    include ./frame/header.jade

    // MAIN
    #main
      .wrapper.clearfix
        // masthead
        .masthead.clearfix
          h1 CONTACT
          span.subheading Get in touch
        .mh-div
        // ENDS masthead
        // page content
        #page-content.clearfix
          // GOOGLE MAPS
          script(type='text/javascript', src='http://www.google.com/jsapi?key=ABQIAAAAyXu_1Zw3-DbyonSxgLICyxSvd_PWAzQYT6cPPLRqr8-D213wYRS98SYvGv88GueR8G34jgm2pizkyA')
          script(type='text/javascript').
            google.load("maps","2.x");
          script(type='text/javascript').
            jQuery(document).ready(function($) {
            //##########################################
            // Google maps
            //##########################################
            // You can get the latitud and Longitude values at http://itouchmap.com/latlong
            var latitude = 44.8011821;
            var longitude = -68.7778138;
            // center map
            var map = new GMap2(document.getElementById("map"));
            var point = new GLatLng(latitude, longitude);
            map.setCenter(point, 16);
            // Set marker
            marker = new GMarker(point);
            map.addOverlay(marker);
            // controls
            map.addControl(new GLargeMapControl());
            });
          h4.heading Location
          #map
          // ENDS GOOGLE MAPS
          .section-div
          // 2 cols
          .left-page-block
            h4.heading Contact form
            // form
            script(type='text/javascript', src='js/form-validation.js')
            form#contactForm(action='#', method='post')
              p
                | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget.
              fieldset
                div
                  input#name.form-poshytip(name='name', type='text', title='Enter your full name')
                  label Name
                div
                  input#email.form-poshytip(name='email', type='text', title='Enter your email address')
                  label Email
                div
                  input#web.form-poshytip(name='web', type='text', title='Enter your website')
                  label Website
                div
                  textarea#comments.form-poshytip(name='comments', rows='5', cols='20', title='Enter your comments')
                // send mail configuration
                input#to(type='hidden', value='your@email.com', name='to')
                input#subject(type='hidden', value='ENter the subject here', name='subject')
                input#sendMailUrl(type='hidden', value='send-mail.php', name='sendMailUrl')
                // ENDS send mail configuration
                p
                  input#submit(type='button', value='Send', name='submit')
                  span#error.warning Message
            p#sent-form-msg.success Form data sent. Thanks for your comments.
            // ENDS form
          .right-page-block
            h4.heading Address info
            p
              | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor si tincidunt quis, accumsan porttitor, facilisis luctus, mets.
            ul.address-block
              li.address Address line, city, state ZIP
              li.phone +123 456 789
              li.mobile +123 456 789
              li.email
                a(href='mailto:email@server.com') email@server.com
          // ENDS 2 cols
        // ENDS page content
        // Fold image
        #fold
    // ENDS MAIN
    // ENDS MAIN
    include ./frame/footer.jade
