doctype
html.no-js
  include ./frame/head.jade

  body(lang='en')
    include ./frame/header.jade

    // MAIN
    #main
      .wrapper.clearfix
        // masthead
        .masthead.clearfix
          h1 ABOUT
          ul.cat-nav
            li.current
              a(href='#') All
            li
              a(href='#') Audio
            li
              a(href='#') Print
            li
              a(href='#') Web Design
            li
              a(href='#') Motion Graphics
            li
              a(href='#') Logo
            li
              a(href='#') Photo
        .mh-div
        // ENDS masthead
        // portfolio list
        .featured.portfolio-list.clearfix
          figure
            a.thumb(href='project')
              img(src='img/dummies/featured-1.jpg', alt='Alt text')
            figcaption Pellentesque habitant morbi
          figure
            a.thumb(href='project')
              img(src='img/dummies/gallery-1.jpg', alt='Alt text')
            figcaption Pellentesque habitant morbi
          figure
            a.thumb(href='project')
              img(src='img/dummies/gallery-3.jpg', alt='Alt text')
            figcaption Pellentesque habitant morbi
          figure
            a.thumb(href='project')
              img(src='img/dummies/featured-2.jpg', alt='Alt text')
            figcaption Pellentesque habitant morbi
          figure
            a.thumb(href='project')
              img(src='img/dummies/featured-1.jpg', alt='Alt text')
            figcaption Pellentesque habitant morbi
          figure
            a.thumb(href='project')
              img(src='img/dummies/gallery-2.jpg', alt='Alt text')
            figcaption Pellentesque habitant morbi
          figure
            a.thumb(href='project')
              img(src='img/dummies/featured-3.jpg', alt='Alt text')
            figcaption Pellentesque habitant morbi
          figure
            a.thumb(href='project')
              img(src='img/dummies/gallery-2.jpg', alt='Alt text')
            figcaption Pellentesque habitant morbi
          figure
            a.thumb(href='project')
              img(src='img/dummies/featured-1.jpg', alt='Alt text')
            figcaption Pellentesque habitant morbi
          figure
            a.thumb(href='project')
              img(src='img/dummies/featured-2.jpg', alt='Alt text')
            figcaption Pellentesque habitant morbi
          figure
            a.thumb(href='project')
              img(src='img/dummies/featured-1.jpg', alt='Alt text')
            figcaption Pellentesque habitant morbi
          figure
            a.thumb(href='project')
              img(src='img/dummies/gallery-2.jpg', alt='Alt text')
            figcaption Pellentesque habitant morbi
          figure
            a.thumb(href='project')
              img(src='img/dummies/featured-3.jpg', alt='Alt text')
            figcaption Pellentesque habitant morbi
          figure
            a.thumb(href='project')
              img(src='img/dummies/featured-1.jpg', alt='Alt text')
            figcaption Pellentesque habitant morbi
        // ENDS featured
        // pager
        ul.pager
          li.paged Page 1 of 2
          li.active
            a(href='#') 1
          li
            a(href='#') 2
          li
            a(href='#') 3
        .clearfix
        // ENDS pager
        // Fold image
        #fold
    // ENDS MAIN
    include ./frame/footer.jade
