doctype
html.no-js
  include ./frame/head.jade

  body(lang='en')
    include ./frame/header.jade

    // MAIN
    #main
      .wrapper.clearfix
        // masthead
        .masthead.project.clearfix
          h1 ABOUT
          span.subheading
            a(href='http://luiszuno.com', target='_blank') Launch project
        .mh-div
        // ENDS masthead
        // project pager
        .project-pager.clearfix
          a.previous-project(href='#') &larr; Previous project
          a.next-project(href='#') Next project &rarr;
        // ENDS project pager
        // slider
        .project-slider
          .flexslider
            ul.slides
              li
                img(src='img/slides/01.jpg', alt='alt text')
              li
                img(src='img/slides/02.jpg', alt='alt text')
              li
                img(src='img/slides/03.jpg', alt='alt text')
        // ENDS slider
        // project content
        #project-content.clearfix
          .info
            strong Client 
            |  Mr. Tanaka
            br
            strong Date 
            |  April 25, 2012
          .description
            p
              | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.
            p
              | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.
            p
              | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.
        // ENDS project content
        // related
        .related-projects
          h4.related-heading Related projects
          .related-list.clearfix
            figure
              a.thumb(href='#')
                img(src='img/dummies/featured-1.jpg', alt='Alt text')
              a.heading(href='single') Pellentesque habitant morbi
            figure
              a.thumb(href='#')
                img(src='img/dummies/featured-1.jpg', alt='Alt text')
              a.heading(href='single') Pellentesque habitant morbi
            figure
              a.thumb(href='#')
                img(src='img/dummies/featured-1.jpg', alt='Alt text')
              a.heading(href='single') Pellentesque habitant morbi
            figure
              a.thumb(href='#')
                img(src='img/dummies/featured-1.jpg', alt='Alt text')
              a.heading(href='single') Pellentesque habitant morbi
        // ENDS related
        // Fold image
        #fold
    // ENDS MAIN
    include ./frame/footer.jade
