doctype
html.no-js
  include ./frame/head.jade

  body(lang='en')
    include ./frame/header.jade

    // MAIN
    #main
      .wrapper.clearfix
        // masthead
        .masthead.clearfix
          h1 ABOUT
          span.subheading In Photography, Recent work
        .mh-div
        // ENDS masthead
        // posts list
        #posts-list.single.clearfix
          article.format-standard
            .entry-date
              .number 23
              .month JAN
              .year 2011
              em
            .post-heading
              h4
                a(href='single') Lorem ipsum dolor 
              .meta
                span.user
                  a(href='#') By LuisZuno, 
                span.comments
                  a(href='#') 5 comments 
            .feature-image
              a(href='img/slides/01.jpg', data-rel='prettyPhoto')
                img(src='img/slides/01.jpg', alt='Alt text')
            .excerpt
              | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed.
            // comments list
            #comments-wrap
              h4.heading 5 Comments
              ol.commentlist
                li#li-comment-1.comment.even.thread-even.depth-1
                  #comment-1.comment-body.clearfix
                    img.avatar.avatar-35.photo(alt='', src='http://0.gravatar.com/avatar/4f64c9f81bb0d4ee969aaf7b4a5a6f40?s=35&d=&r=G', height='35', width='35')
                    .comment-author.vcard Jhon
                    .comment-meta.commentmetadata
                      span.comment-date 3 days ago  
                      span.comment-reply-link-wrap
                        a.comment-reply-link(href='replytocom=23#respond', onclick='return addComment.moveForm("comment-1", "1", "respond", "432")') Reply
                    .comment-inner
                      p
                        | Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
                  // child
                  ul.children
                    li#li-comment-2-1.comment.even.alt.depth-2
                      #comment-2.comment-body.clearfix
                        img.avatar.avatar-35.photo(alt='', src='http://0.gravatar.com/avatar/4f64c9f81bb0d4ee969aaf7b4a5a6f40?s=35&d=&r=G', height='35', width='35')
                        .comment-author.vcard Jhon
                        .comment-meta.commentmetadata
                          span.comment-date 1 hour ago  
                          span.comment-reply-link-wrap
                            a.comment-reply-link(href='replytocom=24#respond', onclick='return addComment.moveForm("comment-2", "2", "respond", "432")') Reply
                        .comment-inner
                          p
                            | Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.
                    li#li-comment-2-2.comment.odd.alt.depth-2
                      #comment-3.comment-body.clearfix
                        img.avatar.avatar-35.photo(alt='', src='http://0.gravatar.com/avatar/4f64c9f81bb0d4ee969aaf7b4a5a6f40?s=35&d=&r=G', height='35', width='35')
                        .comment-author.vcard Jhon
                        .comment-meta.commentmetadata
                          span.comment-date 1 hour ago  
                          span.comment-reply-link-wrap
                            a.comment-reply-link(href='replytocom=24#respond', onclick='return addComment.moveForm("comment-3", "2", "respond", "432")') Reply
                        .comment-inner
                          p
                            | Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.
                  // ENDS child
                li#li-comment-3.comment.odd.thread-even.depth-1
                  #comment-4.comment-body.clearfix
                    img.avatar.avatar-35.photo(alt='', src='http://0.gravatar.com/avatar/4f64c9f81bb0d4ee969aaf7b4a5a6f40?s=35&d=&r=G', height='35', width='35')
                    .comment-author.vcard Jhon
                    .comment-meta.commentmetadata
                      span.comment-date 3 days ago  
                      span.comment-reply-link-wrap
                        a.comment-reply-link(href='replytocom=23#respond', onclick='return addComment.moveForm("comment-4", "1", "respond", "432")') Reply
                    .comment-inner
                      p
                        | Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
                li#li-comment-4.comment.even.thread-even.depth-1
                  #comment-5.comment-body.clearfix
                    img.avatar.avatar-35.photo(alt='', src='http://0.gravatar.com/avatar/4f64c9f81bb0d4ee969aaf7b4a5a6f40?s=35&d=&r=G', height='35', width='35')
                    .comment-author.vcard Jhon
                    .comment-meta.commentmetadata
                      span.comment-date 3 days ago  
                      span.comment-reply-link-wrap
                        a.comment-reply-link(href='replytocom=23#respond', onclick='return addComment.moveForm("comment-5", "1", "respond", "432")') Reply
                    .comment-inner
                      p
                        | Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
            // ENDS comments list
            // Respond
            #respond
              .cancel-comment-reply
                a#cancel-comment-reply-link(rel='nofollow', href='#respond', style='display:none;') Cancel reply
              form#commentform(action='single', method='post')
                h4.heading Leave a reply
                input#author(type='text', name='author', value='', tabindex='1')
                label(for='author')
                  | Name 
                  small *
                br
                input#email(type='text', name='email', value='', tabindex='2')
                label(for='email')
                  | Email 
                  small *
                  span (not published)
                br
                input#url(type='text', name='url', value='', tabindex='3')
                label(for='url') Website
                textarea#comment(name='comment', tabindex='4')
                p
                  input#submit(name='submit', type='submit', tabindex='5', value='Post')
                input#comment_post_ID(type='hidden', name='comment_post_ID', value='')
                input#comment_parent(type='hidden', name='comment_parent', value='0')
            .clearfix
            // ENDS Respond
        // ENDS posts list
        // sidebar
        aside#sidebar
          ul
            li.block
              h4 Text Widget
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.
            li.block
              h4 Categories
              ul
                li.cat-item
                  a(href='#', title='title')
                    | Film and video
                    span.post-counter  (2)
                li.cat-item
                  a(href='#', title='title')
                    | Print
                    span.post-counter  (2)
                li.cat-item
                  a(href='#', title='title')
                    | Photo and lomo
                    span.post-counter  (2)
                li.cat-item
                  a(href='#', title='title')
                    | Habitant morbi
                    span.post-counter  (2)
                li.cat-item
                  a(href='#', title='title')
                    | Film and video
                    span.post-counter  (2)
                li.cat-item
                  a(href='#', title='title')
                    | Print
                    span.post-counter  (2)
                li.cat-item
                  a(href='#', title='title')
                    | Photo and lomo
                    span.post-counter  (2)
                li.cat-item
                  a(href='#', title='title')
                    | Habitant morbi
                    span.post-counter  (2)
            li.block
              h4 Archives
              ul
                li.cat-item
                  a(href='#', title='title') January
                li.cat-item
                  a(href='#', title='title') February
                li.cat-item
                  a(href='#', title='title') March
          em#corner
        // ENDS sidebar
        // Fold image
        #fold
    // ENDS MAIN
    include ./frame/footer.jade

