body {
  language: EN-US;
  margin-width: 10;
  left-margin: 20;
  border: 0;
  padding: 0;
  background-color: #0000BE;
  color: #FFFFFF;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: normal;
}

td {
  font-size: 14px;
  font-weight: normal;
}

td.title {
  font-size: 20px;
  font-weight: bold;
}

td.intro {
  font-size: 14px;
  font-weight: bold;
}

td.footer {
  font-size: 12px;
  font-weight: normal;
}

a:link {
  color: #993300; 
}

a:visited {	
  color: #666633;
}

/*a:active {
  color: 0A64BE;
}

a:hover {
  color: DD761A;
} */



