footer
  .wrapper.clearfix
    // widgets
    ul.widget-cols.clearfix
      li.first-col
        .widget-block
          h4 RECENT POSTS
          .recent-post.clearfix
            a.thumb(href='#')
              img(src='img/dummies/54x54.gif', alt='Post')
            .post-head
              a(href='#') Pellentesque habitant morbi senectus
              span  March 12, 2011
          .recent-post.clearfix
            a.thumb(href='#')
              img(src='img/dummies/54x54.gif', alt='Post')
            .post-head
              a(href='#') Pellentesque habitant morbi senectus
              span  March 12, 2011
          .recent-post.clearfix
            a.thumb(href='#')
              img(src='img/dummies/54x54.gif', alt='Post')
            .post-head
              a(href='#') Pellentesque habitant morbi senectus
              span  March 12, 2011
      li.second-col
        .widget-block
          h4 FREE TEMPLATES &amp; THEMES
          p
            | Visit 
            a(href='http://templatecreme.com/') Template Creme
            |  and browse the selection of well-made FREE Templates and WordPress Themes.
      li.third-col
        .widget-block
          #tweets.footer-col.tweet
            h4 TWITTER WIDGET
      li.fourth-col
        .widget-block
          h4 FREE TEMPLATES &amp; THEMES
          p
            | Visit 
            a(href='http://templatecreme.com/') Template Creme
            |  and browse the selection of well-made FREE Templates and WordPress Themes.
    // ENDS widgets
    // bottom
    .footer-bottom
      .left
        | Simpler Template by 
        a(href='http://www.luiszuno.com') luiszuno.com
      .right
        ul#social-bar
          li
            a.poshytip(href='http://www.facebook.com', title='Become a fan')
              img(src='img/social/facebook.png', alt='Facebook')
          li
            a.poshytip(href='http://www.twitter.com', title='Follow my tweets')
              img(src='img/social/twitter.png', alt='twitter')
          li
            a.poshytip(href='http://www.google.com', title='Add to the circle')
              img(src='img/social/plus.png', alt='Google plus')
    // ENDS bottom
