// nav
ul#nav.sf-menu
  li.current-menu-item
    a(href='index.html') HOME
  li
    a(href='blog.html') BLOG
  li
    a(href='page.html') ABOUT
    ul
      li
        a(href='page-elements.html') Elements
      li
        a(href='page-icons.html') Icons
      li
        a(href='page-typography.html') Typography
  li
    a(href='portfolio.html') WORK
  li
    a(href='contact.html') CONTACT
// ends nav
