// nav
ul#nav.sf-menu
  li.current-menu-item
    a(href='index') HOME
  li
    a(href='blog') BLOG
  li
    a(href='page') ABOUT
    ul
      li
        a(href='page-elements') Elements
      li
        a(href='page-icons') Icons
      li
        a(href='page-typography') Typography
  li
    a(href='portfolio') WORK
// ends nav
// comboNav
select#comboNav
  option(value='index', selected='selected') HOME
  option(value='blog') BLOG
  option(value='page') ABOUT
  option(value='page-elements') - Elements -
  option(value='page-icons') - Icons -
  option(value='page-typography') - Typography -
  option(value='portfolio') WORK
// comboNav
